@font-face {
	font-family: 'Roboto-Mono';
	src: url('../../fonts/Noto-Mono/NotoSansMonoCJKjp-Regular.otf');
	font-weight: 400;
	font-style: normal;
	unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-56FC, U+56FE-9FAF;
}

@font-face {
	font-family: 'Roboto-Mono';
	src: url('../../fonts/Noto-Mono/NotoSansMonoCJKjp-Bold.otf');
	font-weight: 700;
    font-style: normal;
	unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-56FC, U+56FE-9FAF;
}

@font-face {
	font-family: 'Roboto-Mono-Regular';
	src: url('../../fonts/Noto-Mono/NotoSansMonoCJKjp-Regular.otf');
	unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-56FC, U+56FE-9FAF;
}

@font-face {
	font-family: 'Roboto-Mono-Bold';
	src: url('../../fonts/Noto-Mono/NotoSansMonoCJKjp-Bold.otf');
	unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-56FC, U+56FE-9FAF;
}
